<footer>
	<ul class="contact">
		<li>
			<a href="mailto:midwestdirtlegion@gmail.com">
				<!-- Email icon -->
			</a>
		</li>
		<li>
			<a href="https://www.facebook.com/midwestdirtlegion/" target="_blank">
				<!-- Facebook icon -->
			</a>
		</li>
		<li>
			<a href="https://www.instagram.com/midwestdirtlegion/" target="_blank">
				<!-- Instagram icon -->
			</a>
		</li>
	</ul>
</footer>