<footer id="colophon">
	<ul class="contact-list">
		<li>
			<a href="mailto:midwestdirtlegion@gmail.com" class="contact_email">
				<svg class="icon-inner" version="1.1" preserveAspectRatio="xMidYMid meet" role="img">
					<use xlink:href="#icon-email"></use>
				</svg>
				<span>Email</span>
			</a>
		</li>
		<li>
			<a href="https://www.facebook.com/midwestdirtlegion/" target="_blank" class="contact_facebook">
				<svg class="icon-inner" version="1.1" preserveAspectRatio="xMidYMid meet" role="img">
					<use xlink:href="#icon-facebook"></use>
				</svg>
				<span>Facebook</span>
			</a>
		</li>
		<li>
			<a href="https://www.instagram.com/midwestdirtlegion/" target="_blank" class="contact_instagram">
				<svg class="icon-inner" version="1.1" preserveAspectRatio="xMidYMid meet" role="img">
					<use xlink:href="#icon-instagram"></use>
				</svg>
				<span>Instagram</span>
			</a>
		</li>
	</ul>
</footer>