<ul class="vList">
    <!-- icon download -->
    <li>
        <span class="icon icon_download">
            <svg class="icon-inner" version="1.1" preserveAspectRatio="xMidYMid meet" role="img">
                <use xlink:href="#icon-download"></use>
            </svg>
        </span>
    </li>
    <!-- icon External Link -->
    <li>
        <span class="icon icon_externalLink">
            <svg class="icon-inner" version="1.1" preserveAspectRatio="xMidYMid meet" role="img">
                <use xlink:href="#icon-externalLink"></use>
            </svg>
        </span>
    </li>
    <!-- icon arrow down -->
    <li>
        <span class="icon icon_arrow">
            <svg class="icon-inner" version="1.1" preserveAspectRatio="xMidYMid meet" role="img">
                <use xlink:href="#icon-arrow"></use>
            </svg>
        </span>
    </li>
    <!-- icon heart -->
    <li>
        <span class="icon icon_heart">
            <svg class="icon-inner" version="1.1" preserveAspectRatio="xMidYMid meet" role="img">
                <use xlink:href="#icon-heart"></use>
            </svg>
        </span>
    </li>
    <!-- icon heart -->
    <li>
        <span class="icon icon_watch">
            <svg class="icon-inner" version="1.1" preserveAspectRatio="xMidYMid meet" role="img">
                <use xlink:href="#icon-watch"></use>
            </svg>
        </span>
    </li>
</ul> <!-- /.vList -->
