<header id="masthead">
    <a href="/" class="site-title">Midwest Dirt Legion</a>
    <figure>
        <img src="assets/media/images/banner.jpg" alt="Cisgender women, gender non-conforming, and transgender mountain bikers in the woods">
    </figure>
</header>