{# 404 template #}

{% extends "templates/_layout.njk" %}
{% set pageTitle = 'Page Not Found' %}
{% set description = '' %}
{% set pageID = "four-oh-four" %}

{% block content %}
    Content Not Found
{% endblock %}