{# Home template #}

{% extends "templates/_layout.njk" %}
{% set pageTitle = 'Midwest Dirt Legion' %}
{% set description = '' %}
{% set pageID = "home" %}

{% block content %}
	<div id="mission-statement" class="t-center">
		<h2>Building a better community for <br><em>Cisgender Women, <br>Gender Non-Conforming, <br>and Transgender <br>mountain bikers</em></h3>
	</div>

	<div id="long-description">
		<p>Our focus is on bringing passionate people and organizations in the Twin Cities together through meet-ups, group rides, and skills sessions.</p>
		<p>Our long term goal is to provide a blueprint to create inclusive and accessible events and communities.</p>
	</div>

	<hr>

	<div class="founders-wrap">
		<h3 class="t-center">Founders of Midwest Dirt Legion</h3>
		<ul class="founders-list">
			<li class="founder">
				<figure class="founder-portrait">
					<img src="assets/media/images/founder_steph-aich.jpg" alt="Steph Aich, she/her">
				</figure>
				<h4 class="founder-name">Steph Aich</h4>
				<h5 class="founder-pronoun">She/Her</h5>
			</li>
			<li class="founder">
				<figure class="founder-portrait">
					<img src="assets/media/images/founder_ash-murray.jpg" alt="Ash Murray, they/them">
				</figure>
				<h4 class="founder-name">Ash Murray</h4>
				<h5 class="founder-pronoun">They/Them</h5>
			</li>
		</ul>
	</div>
{% endblock %}