/* Variables / Mixins
--------------------------*/

// Import fonts used
@import url('https://fonts.googleapis.com/css?family=Asap:400,700&display=swap');


// Grays
// -------------------------
@black:		   #000;
@gray-darker:  #252420;
@gray-dark:    #383733;
@gray:         #555;
@gray-light:   #9a9a9a;
@gray-lighter: #fafafa;
@white:        #fff;

// Colors
// -------------------------
@tan:         #edeadc;
@tan-dark:    #a9a695;
@brown:       #514737;
@brown-light: #a3792a;


// Fonts / Text
// -------------------------
@font-family-serif: serif;
@font-family-sans:  'Asap', Helvetica, Arial, sans-serif;

// Font Weights
// -------------------------
@font-weight-thin:     100;
@font-weight-light:    300;
@font-weight-regular:  400;
@font-weight-bold:     700;
@font-weight-black:    800;


// Mixins
// -----------------------

// Responsive Video
.flex_video(@class:wrap) {
	figure.video {
		margin-bottom:1em;
		
		.@{class} {
			height:0;
			padding-bottom:56.25%; /* 16:9 */
			padding-top:25px;
			position:relative;
		}
		iframe, object, embed, video {
			height:100%;
			left:0;
			position:absolute;
			top:0;
			width:100%;
		}
	}
}

// Images
.fill-max-width() {
	display:block;
	height:auto; 
	max-width:100%; 
}

.fill-width() {
	.fill-max-width();
	width:100%; 
}

// Add an alphatransparency value to any background or border color (via Elyse Holladay)
#translucent {
	.background(@color: @white, @alpha: 1) {
		@forMS: @alpha*100;
		background-color:@color;
		background-color: hsla(hue(@color), saturation(@color), lightness(@color), @alpha);
		filter: alpha(opacity=@forMS);
	}
	.border(@color: @white, @alpha: 1) {
		border-color:@color;
		border-color: hsla(hue(@color), saturation(@color), lightness(@color), @alpha);
		.background-clip(padding-box);
	}
}

.clip-path(@clip) {
	-webkit-clip-path:@clip;
	clip-path:@clip;	
}

.text-hide() {
	font: ~"0/0" a;
	color: transparent;
	text-shadow: none;
	background-color: transparent;
	border: 0;
}


// CSS3 PROPERTIES
// --------------------------------------------------

// Transforms
.transform(@transform) {
	-webkit-transform: @transform;
	   -moz-transform: @transform;
	     -o-transform: @transform;
			transform: @transform;
}

// Transitions
.transition(@transition) {
	-webkit-transition: @transition;
	   -moz-transition: @transition;
	     -o-transition: @transition;
			transition: @transition;
}